/* .config/waybar/styles.css */

/** Variables **/
@define-color fg #c5c8c6;
@define-color bg #282C34;

@define-color highlight #51AFEF;
@define-color active #b5bd68;
@define-color accent #c9b4cf;
@define-color warning red;

/** Styles **/
* {
  border: none;
  border-radius: 10;
  min-height: 0;
  font-family: FontAwesome, Hack;
  font-size: 13px;
}

window.topbar#waybar {
  /* background: alpha(@bg, 0.0); */
  background: linear-gradient(180deg, alpha(@bg, 0.8), alpha(@bg, 0.6));
  color: @fg;
  font-size: 15px;
  /* border-bottom: 1px solid alpha(@bg,0.2); */
}
window.bottombar#waybar {
  background: linear-gradient(180deg, alpha(@bg, 0.4), alpha(@bg, 0.8));
}

label.module {
  padding: 0 6px 0;
  margin: 0 1px;
  text-shadow: 0px 1px 4px @bg;
}

#workspaces {
  /* padding-right: 18px; */
}
#workspaces * {
  font-size: 14px;
}
#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @fg;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 20;
}

#workspaces button.empty {
  opacity: 0.9;
}

#workspaces button.special {
  color: @accent;
}

#workspaces button.urgent {
  background-color: @warning;
}

#workspaces button.focused,
#workspaces button.active {
  color: @highlight;
  opacity: 5;
  background-color: @bg;
}

#workspaces button:hover,
#tags button:hover {
  background-color: @fg;
  color: @highlight;
}

#window {
  font-size: 14px;
}

#battery {
}
#battery icon {
  color: @warning;
}
#battery.charging {
}

@keyframes blink {
  to {
    background-color: @fg;
    color: @bg;
  }
}

#battery.warning:not(.charging) {
  color: @fg;
  animation-name: blink;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
  color: @warning;
}
#network.ethernet {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
  margin-left: 8px;
}

#clock {
  padding: 0 10px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#idle_inhibitor.activated {
  background-color: @accent;
  color: @bg;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-spotify {
  color: #ffffff;
  background: #2e3440;
  padding: 0 2em;
  border-radius: 1em;
  min-height: 20px;
  box-shadow: none;
  border: none;
  /* Commenting as they fail to do anything as of 0.9.14... or I cannot make them work  */
  /* font-family: "Overpass"; */
  /* font-size: 1.2em; */
}

#custom-iplocate {
  min-height: 20px;
  padding: 0 5px;
  color: @fg;
}

#custom-chargethreshold {
  min-height: 20px;
  padding: 0 5px;
}

#idle_inhibitor {
  /* background-color: #2d3436; */
}

#custom-headphone-bt {
  /* background: @bg; */
  /* border: 1px solid @fg; */
  color: @fg;
  padding: 0 5px;
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
  padding: 0 6px;
  /* background: #bb0044; */
  box-shadow: inset 0 -3px #ffffff;
}
