/* Hide sync tab in about:preferences  */
body {
  --main-accent-color: #b24747;
  /* --in-content-primary-button-background: #a569b7; */
  --in-content-primary-button-background: #a569b7;

  --buttons-primary-button-bgcolor: #a569b7;
  --buttons-primary-button-hover-bgcolor: #a569b7;

  --checkbox-checked-bgcolor: #a569b7;
  --checkbox-checked-hover-bgcolor: #a569b7;

  --panel-banner-item-info-icon-bgcolor: #a569b7; /* Not working? */
}

:root {
  --focus-outline-color: #a569b7; /* Brightext */

  --buttons-primary-button-bgcolor: #a569b7;
  --buttons-primary-button-hover-bgcolor: #a569b7;

  --checkbox-checked-bgcolor: #a569b7;
  --checkbox-checked-hover-bgcolor: #a569b7;

  --panel-banner-item-info-icon-bgcolor: #a569b7;
}

@-moz-document url("about:preferences") {
  #category-sync {
    display: none !important;
  }
}

/*TODO Make dark mode for "Open this site in your assigned container" */
@-moz-document url(about:blank), url(about:newtab), url(about:home) {
  /* Changes the color of the wordmark (firefox logo name )*/
  .wordmark {
    fill: var(--main-accent-color) !important;
  }

  /* .personalize-button { */
  /*   display: none !important; */
  /* } */
  body {
    /* background-color: #242424 !important; */ /* FIXME - breaks collabora online */
    --newtab-search-header-background-color: #242424f2 !important;
    --newtab-seperator-line-color: #4c4c4c !important;
    --newtab-textbox-background-color: #4a4a4a !important;
    --newtab-topsites-background-color: #4a4a4a !important;
    --newtab-topsites-outer-card-hover: rgba(0, 0, 0, 0.3) !important;
    --newtab-search-text-color: #f5f5f5 !important;
    --newtab-text-primary-color: #fff !important;
    --newtab-background-primary-text-color: #fff !important;
    --newtab-wordmark-color: #fff !important;
    --newtab-link-primary-color: #49a6ec !important;

    --newtab-card-background-color: #2b2b2b !important;
    --newtab-text-secondary-color: #929292 !important;
    --newtab-card-hairline-color: rgba(0, 0, 0, 0.2) !important;
  }
}

@-moz-document url-prefix("moz-extension://")
{
  body {
    /* background-color: #242424 !important; */
  }
  #redirect-url {
    /*FIXME - make it only work on mozExtension*/
    background-color: #242424 !important;
  }
}

@-moz-document url-prefix("https://github.com/")
{
  .blob-code-inner {
    font-family: "Fira Code", monospace !important;
  }
}
