
@import url("/home/owner/.cache/wal/gtk-colors.css");
@import url("./styles/notifications.css");
@import url("./styles/widgets.css");

.control-center {
  background: alpha(@background, 0.9);
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.1;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: alpha(@background, 0.25);
}

